[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.24"
optimizer = true
optimizer_runs = 200
via_ir = false

[rpc_endpoints]
mantle_testnet = "https://rpc.testnet.mantle.xyz"
mantle_mainnet = "https://rpc.mantle.xyz"

[etherscan]
mantle_testnet = { key = "${MANTLE_API_KEY}", url = "https://explorer.testnet.mantle.xyz/api" }
mantle_mainnet = { key = "${MANTLE_API_KEY}", url = "https://explorer.mantle.xyz/api" }
